// 侧边栏
@import './variables.scss';
.sidebar-wapper {
  transition: width 0.28s;
  width: $sideBarWidth !important;
  height: 100%;
  position: fixed;
  font-size: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden;
  overflow: hidden;
  .scrollbar {
    overflow-x: hidden; 
  }
  .el-scrollbar__view,
  .sidebar-menu,
  .el-menu {
    height: 100%;
  }
  .el-menu {
    border: none;
    width: 100% !important;
    .el-submenu {
      .el-submenu__title i {
        color: $menuActiveText;
      }
      .el-menu-item {
        min-width: 100%;
        &.is-active {
          background-color: $menuActiveText !important;
          color: $menuActiveBg !important;
        }
      }
    }
  }
  .el-menu-item {
    i {
      color: $menuActiveText;
    }
    &.is-active {
      color: $menuActiveBg;
      background-color: rgb(66, 98, 192)!important;
    }
  }
}
.main-container {
  transition: padding-left .28s;
  padding-left: $sideBarWidth;
}
// 隐藏侧边栏
.hideSidebar {
  .sidebar-wapper {
    width: $hideBarWidth !important;
  }

  .main-container {
    padding-left: $hideBarWidth;
  }

  .submenu-title-noDropdown {
    padding: 0 !important;
    position: relative;

    .el-tooltip {
      padding: 0 !important;

      .svg-icon {
        margin-left: 20px;
      }
    }
  }

  .el-submenu {
    overflow: hidden;

    &>.el-submenu__title {
      padding: 0 !important;

      .svg-icon {
        margin-left: 20px;
      }

      .el-submenu__icon-arrow {
        display: none;
      }
    }
  }

  .el-menu--collapse {
    .el-submenu {
      &>.el-submenu__title {
        &>span {
          height: 0;
          width: 0;
          overflow: hidden;
          visibility: hidden;
          display: inline-block;
        }
      }
    }
  }
}