
//sidebar
$menuBg:#537bf0;
$subMenuBg:#e3e3e3;
$menuHover:#fff;
$subactiveBg: #fff;
$navHeight: 70px;
$navBg: #f5f7fa;
$sideBarWidth: 194px;
$hideBarWidth: 74px;
$menuActiveText: #fff;
$menuActiveBg: #409EFF;
$menuText: #fff;

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  menuBg: $menuBg;
  sideBarWidth: $sideBarWidth;
}
