
//sidebar
$menuBg:#001529;
$subMenuBg:#e3e3e3;
$menuHover:#fff;
$subactiveBg: #fff;
$navHeight: 70px;
$navBg: #fff;
$sideBarWidth: 194px;
$hideBarWidth: 74px;
$menuActiveText: #fff;
$menuActiveBg: #409EFF;
$menuText: hsla(0,0%,100%,.65);
$menuIconTextSize: 17px;

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  menuBg: $menuBg;
  sideBarWidth: $sideBarWidth;
}
