.app-box {
  display: flex;
  .app-main {
    flex: 1;
  }
  .app-container {
    padding: 20px;
  }

  .app-header {
    flex: 1;
    height: @headerHeight;
    padding: 0 20px 0 50px;
    line-height: @headerHeight;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    &-right {
      float: right;
    }
  }

  .app-sidebar {
    flex: 0 0 @sidebarWidth;
    width: @sidebarWidth;
    position: relative;
    z-index: 10;
    min-height: 100vh;
    background-color: @menuBg;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: @headerHeight;
      position: relative;
      background: #2b2f3a;
      overflow: hidden;
      color: #FFF;
      &-img {
        width: 32px;
        height: 32px;
        vertical-align: middle;
        margin-right: 12px;
      }
      &-title {
        display: inline-block;
        margin: 0;
        font-weight: 600;
        line-height: 50px;
        font-size: 14px;
        font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
        vertical-align: middle;
      }
    }
    .sidebar-icon {
      margin-right: 5px;
      vertical-align: text-bottom;
    }
  }

  .app-sidebar {
    .el-menu-item {
      box-sizing: border-box;
      color: @menuColor;
    }
    .sidebar-menu {
      background-color: @menuBg;
      width: @sidebarWidth;
      .el-submenu__title {
        background-color: @menuBg;
        color: @menuColor;
      }
      .el-menu-item.is-active {
        background-color: @menuBgSelectHover!important;
        color: #fff!important;
      }
    }
  }
}
